In [19]:
 
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 

from wordcloud import wordcloud 
import nltk 
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\adity\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\adity\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [29]:
df=pd.read_csv("spam_ham_dataset.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [21]:
df=df.drop(columns=['Unnamed: 0', 'label_num'])
df.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['label'] = le.fit_transform(df['label'])
df.head()

   label                                               text
0      0  Subject: enron methanol ; meter # : 988291\r\n...
1      0  Subject: hpl nom for january 9 , 2001\r\n( see...
2      0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3      1  Subject: photoshop , windows , office . cheap ...
4      0  Subject: re : indian springs\r\nthis deal is t...

In [24]:
from nltk.stem.porter import PorterStemmer 
import string 

ps=PorterStemmer()

In [25]:
def tranform_text(text):
    text=text.lower()
    text=nltk.word_tokenize(text)

    y=[]
    for i in text:
        if i.isalnum():
            y.append(i)

    text=y[:]
    y.clear()

    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)

    text=y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))

    return " ".join(y)

In [26]:
tranform_text("This is a sample text, with some punctuation and stopwords!")

'sampl text punctuat stopword'

In [28]:
df['transformed_text'] = df['text'].apply(tranform_text)
df.head()

KeyboardInterrupt:

In [27]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer 
tfidf=TfidfVectorizer(max_features=500,stop_words='english')

In [ ]:
X=tfidf.fit_transform(df['transformed_text']).toarray()
y=df['label'].values

In [ ]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC 
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import GradientBoostingClassifier 
from xgboost import XGBClassifier

In [ ]:
svc=SVC(kernel='sigmoid',C=1,gamma=1.0)
knc=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
lr=LogisticRegression(C=1,solver='liblinear')   
mnb=MultinomialNB(alpha=1.0)
dtc=DecisionTreeClassifier(criterion='gini',max_depth=5)
rfc=RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=5)
gbc=GradientBoostingClassifier(n_estimators=100,learning_rate=0.1,max_depth=3)
xgbc=XGBClassifier(n_estimators=100,learning_rate=0.1,max_depth=3)
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [ ]:
clfs= {
    'SVC': svc,
    'KNeighborsClassifier': knc,
    'LogisticRegression': lr,
    'MultinomialNB': mnb,
    'DecisionTreeClassifier': dtc,
    'RandomForestClassifier': rfc,
    'GradientBoostingClassifier': gbc,
    'XGBClassifier': xgbc
}

In [ ]:
def train_classifier(clf,x_train,y_train,x_test,y_test):
    clf.fit(x_train,y_train)
    y_pred=clf.predict(x_test)
    
    print("Classifier:",clf.__class__.__name__)
    print("Accuracy:",accuracy_score(y_test,y_pred))
    print("Confusion Matrix:\n",confusion_matrix(y_test,y_pred))
    print("Classification Report:\n",classification_report(y_test,y_pred))
    print("\n")

In [30]:
print(f"Original dataset size: {len(df)} rows")

# Take only the first 5000 rows
df_reduced = df.head(5000)
print(f"Reduced dataset size: {len(df_reduced)} rows")

# Save the reduced dataset back to the CSV file
df_reduced.to_csv("spam_ham_dataset.csv", index=False)
print("Saved reduced dataset to spam_ham_dataset.csv")

Original dataset size: 5171 rows
Reduced dataset size: 5000 rows
Saved reduced dataset to spam_ham_dataset.csv

In [ ]:
# Reload the dataset to confirm the changes
df_new = pd.read_csv("spam_ham_dataset.csv")
print(f"Reloaded dataset size: {len(df_new)} rows")
df_new.head()